---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | BlackSword Studio" description="About BlackSword Studio">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about Blacksword Studio."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Founded and fully operated by a single independent developer (me), Blacksword Studio was born out of a deep, lifelong love for video games. Without the constraints of large teams or corporate processes, I’m able to focus entirely on the creative core—ensuring every part of the game aligns with the original vision.
					</p>
					<p>
						As the sole creator, I oversee every stage of development: from brainstorming gameplay concepts and writing code to designing levels and polishing visual details. This hands-on approach guarantees the final product carries a distinct, personal touch that reflects genuine passion for game creation.
					</p>
					<!-- <p>
						Ultrices tincidunt arcu non sodales neque sodales ut. Sed enim ut sem viverra aliquet
						eget sit amet. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra.
						Viverra accumsan in nisl nisi scelerisque eu ultrices. In massa tempor nec feugiat nisl
						pretium fusce.
					</p> -->
				</div>
			</section>
			<section>
				<h2 class="section-title">Design Philosophy</h2>
				<div class="content">
					<p>At Blacksword Studio, I believe games are more than just entertainment—they are a medium for connection, storytelling, and emotional resonance. My core design philosophy revolves around three key principles:</p>
					<ol>
						<li>Detail-Driven Excellence: It’s the small things that make a game unforgettable. Every menu, every sound effect, and every interaction is crafted with care to create a cohesive, polished experience.</li>
						<li>Uncompromised Creative Vision: Solo development lets me stay true to the game’s core idea without diluting it for mass appeal. The result is a project that feels authentic and unique, not just another generic title.</li>
						<li>Player-Centric Focus: Every design choice is made with the player in mind. Whether it’s intuitive controls, engaging gameplay loops, or a story that resonates, the goal is to put the player’s experience at the forefront.</li>
					</ol>
				</div>
			</section>
			<section>
				<h2 class="section-title">Contact</h2>
				<div class="content">
					<p>Email: <a href="mailto:contact@blackswordstudio.com">contact@blackswordstudio.com</a></p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
